node_modules
dist
.env
backend/.env
frontend/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.log
emotion_service/.venv/
emotion_service/__pycache__/
emotion_service/.pytest_cache/
backend/piper/
